<head>
    <meta charset="UTF-8">
    <title>Snake game</title>
    <!-- Compiled and minified CSS --> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>

<body ng-app="preexamen" ng-strict-di="" ng-controller="PartiesCont" bgcolor="#212121 ">
    <header class="bkg1 valign-wrapper">

        <h5 class="container white-text" align="center">
            Jueguele mi compa
        </h5>

    </header>
    <div class="row">
        <div class="col l2 grey darken-4">
            <input class="white-text" ng-model="user" type="text" placeholder="User" />
            <div class="col">
                <a class="btn-flat white-text center-align cyan darken-1" ng-click="jugar()" >Start</a>
            </div>
            <div class="col">
                <i id="audioicon" class="small cyan lighten-1 white-text material-icons" style="margin-top:3px; cursor: pointer;" ng-click="audioEvent()">volume_up</i>
            </div>
        </div>

        <div class="col white l8">
            <section class="section container">
                <div class="row">
                    <h5 class="black-text" align="center">{{score}}</h5>
                </div>
                <canvas id="gameCanvas" width="600" height="600" tabindex="1"></canvas>
            </section>  
        </div>

        <div class="col cyan darken-1 white-text l2">
            <table class="bordered highlight centered">
                <h5 style="margin-left:25px;">Highscores</h5>
                <thead>
                    <tr>
                        <th class="yellow-text text-lighten-2">Place</th>
                        <th>User</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="partida in partidas">
                        <td class="yellow-text text-lighten-2">#{{partida.place}}</td>
                        <td>{{partida.user}}</td>
                        <td>{{partida.score}} Points</td>
                    </tr>
            </table>
        </div>
    </div>

</body>
